parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#^Property Seravo\\SeravoApi\\Exceptions\\(.*)\:\:\$message has no type specified.$#'
            path: src/Exceptions/*

