parameters:
    level: 6
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#^Property Seravo\\SeravoApi\\Exception\\(.*)\:\:\$message has no type specified.$#'
            path: src/Exception/*

